.tab-news{
  background-color: #fff;
  border: 0 solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.tab-header {
  border-bottom: 2px solid #eee;
}
.tab-header  .tab-title {
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  padding-left: 20px;
  color: #666;
  margin: 0;
  position: relative;
}
.tab-header .tab-title:before{
  content: "";
  display: block;
  width: 4px;
  height: 16px;
  background-color: #337ab7;
  position: absolute;
  top: 16px;
  left: 10px;
}
.table-manager tbody tr{
  cursor: pointer;
}
.table-manager thead,
.table-manager tbody tr{
  background: #fff;
}

.table-manager tbody tr:hover{
  background-color: #e8e8e8;
}
.table-manager th,
.table-manager td{
  text-align: center;
}

.table-manager tbody tr td{
  height: 50px;
  padding: 0;
  line-height: 50px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.tab-index{width: 80px;max-width:80px;}
.tab-id{width: 80px;max-width: 80px;}
.tab-time{width:140px;max-width: 140px;}
.tab-tit{width:165px;max-width: 165px;}
.tab-desc{width:260px;max-width: 260px;}
.tab-img {width: 180px; max-width: 180px; text-align: center; padding-bottom: 5px;}
.tab-img img{
  display: inline-block;
  height: 90%;
  object-fit: contain;
}
.tab-btn{width:130px;max-width: 130px;}



.tabToggle {
  text-align: center;
  color: #999;
  cursor: default !important;
}

.tabToggle:hover{
  background-color: #fff !important;
}
.tabToggle td {
  padding: 10px 0 !important;
  line-height: 1.42857143 !important;
}
.tabToggle i{
  font-size: 36px;
  margin-bottom: 0;
}
.tabToggle span {
  display: block;
  font-size: 16px;
}
.btn-auditing {
  margin: 10px 0;
}
.btn-auditing button {
  margin-right: 4px;
}




/*弹框*/

.news-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99999;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /*display: none;*/
}

.news-modal .mask{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.news-modal-content {
  width: 700px;
  height: 650px;
  background-color: #fff;
  position: absolute;
  z-index: 99999;
  top: 40%;
  left: 50%;
  padding: 10px;
  margin-top: -325px;
  margin-left: -350px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #666;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(255,255,255,.5);
}
.news-modal-header {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #e5e5e5;
}
.news-modal-header h4{
  position: relative;
  font-size: 16px;
  padding-left: 10px;
  color: #337ab7;
}
.news-modal-header h4:before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 16px;
  background-color: #337ab7;
}
.news-modal-header span{
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  cursor: pointer;
}
.news-modal-header span:hover{
  color: #000;
  opacity: .5;
}
.news-modal-body {
  padding: 15px;
  height: 537px;
  min-height: 537px;
  overflow-y: scroll;
}
/*滚动条样式 start*/
.news-modal-body::-webkit-scrollbar{
  width:6px;
  height:4px;
}
.news-modal-body::-webkit-scrollbar-track{
  background: #f6f6f6;
  border-radius:14px;
}
.news-modal-body::-webkit-scrollbar-thumb{
  background: #aaa;
  border-radius:2px;
}
.news-modal-body::-webkit-scrollbar-thumb:hover{
  background: #747474;
}
.news-modal-body::-webkit-scrollbar-corner {
  background: #f6f6f6;
}
/*滚动条样式 End*/
.news-modal-body .news-modal-item{
  width: 100%;
}
.form-group{
  margin-bottom: 0;
}
.news-modal-body .news-modal-item > label {
  display: block;
  width: 15%;
  font-size: 15px;
  font-weight: 600;
  line-height: 32px;
}
.news-modal-body .news-modal-item input {
  display: block;
  width: 80%;
}
.news-modal-body .news-modal-item textarea {
  display: block;
  width: 80%;
  height: 125px;
  resize: none;
}

.news-add-img{
  width: 85%;
}
.news-btn{
  margin-bottom: 10px;
}

.news-modal-body .news-modal-item .select-box{
  width: 80%;
}
.news-modal-body .news-modal-item select {
  width: 100%;
}
.news-modal-body .news-modal-item .required{
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #d9534f;
  display: flex;
  justify-items: center;
}
.news-modal-footer {
  position: absolute;
  bottom: 10px;
  right: 0;
}
.news-modal-footer button {
  margin-right: 10px;
}
.tabToggle {
  padding: 10px 0;
  text-align: center;
  color: #999;
  cursor: default !important;
}

.tabToggle i{
  font-size: 36px;
  margin-bottom: 8px;
}
.tabToggle span {
  display: block;
  font-size: 16px;
}
.error {
  padding-left: 15%;
  height: 20px;
  line-height: 20px;
  color: #d9534f;
  font-size: 12px;
  margin-top: -3px;
}

/*分页*/

.pagination {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.pagination a {
  margin-right: 4px;
}
.pagination .page-fiter {
  border: none;
  margin-right: 0;
  margin-left: -4px;
}
.pagination .page-fiter:hover {
  background-color: transparent;
  cursor: default;
  border: none;
  color: #337ab7;
}
.pagination .page-input{
  padding: 0;
  width: 35px;
  margin-right: 4px;
}
.pagination .page-input input {
  padding: 0;
  text-align: center;
}
